
.row-header{
  margin: 0px auto;
  padding: 0px auto;
  background-color: white;
  font-style: oblique;
  color: black;
}
.row-view{
  margin: 0px auto;
  padding: 0px auto;
  min-height: 500px;
  width: auto;
  font-style: oblique;
}
.content{
  margin-top: 10em;
  text-align: center;
}

.btn{
  color: white;
  background-color: black;
}

.footer{
  background-color: #282c34;
  color: white;

}
